@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-white-color: #ffffff;
  --main-blue-color: #2279d4;
  --main-lightblue-color: #86b5e8;
  --feature-background-color: rgb(62, 102, 138, 0.1);
  --main-black-color: #232526;
  --main-darkgrey-color: #545a61;
  --main-lightgrey-color: rgba(68, 73, 79, 0.514);
  --secondary-orange-color: #ff8b18;
  --secondary-green-color: #4baf50;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--main-white-color);
  font-family: "Poppins", sans-serif;
}

/* navbar */
/* updated navbar section */

header {
  width: 100%;
  background-color: var(--main-white-color);
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav-container {
  width: 95%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main-white-color);
  padding: 0.8em 0;
  z-index: 100;
  border-bottom: 2px solid rgb(230, 230, 230);
}

.menu-toggle {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}

.site-nav {
  flex: 1;
  clip-path: initial;
  background-color: var(--main-white-color);
  transition: clip-path ease-in-out 700ms;
}

.logo,
.menu-toggle,
.site-nav {
  transition: display ease-in-out 700ms;
}

.site-nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 1.5em;
}

.site-nav a {
  color: var(--main-darkgrey-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--main-black-color);
}

.site-nav .button:hover {
  background-color: #1f6fc5;
  color: var(--main-white-color);
}

.site-nav .button {
  background-color: var(--main-blue-color);
  color: var(--main-white-color);
  padding: 8px 20px;
  border-radius: 6px;
}

.logo {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: var(--main-black-color);
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

/* first section */
.parent {
  position: relative;
  height: 100vh;
}

.container {
  width: 95%;
  max-width: 1140px;
  margin: auto;
}

.hero {
  height: 100vh;
  max-height: 860px;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: 2.19%;
  grid-template-rows: [first-row]100%;
}

.hero-background-image {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -100;
}

.hero-background-image img {
  width: 100%;
}
.hero-text {
  grid-column: 1/8;
  grid-row: first-row;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5em;
}

.hero-text-title {
  font-size: 40px;
  color: var(--main-black-color);
}

.hero-text-description {
  margin-top: 0.5em;
  color: var(--main-lightgrey-color);
  font-weight: 500;
}

.hero-img {
  grid-column: 8/-1;
  grid-row: first-row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img img {
  width: 70%;
}

.hero-text-buttons {
  margin-top: 2em;
}

.hero__button {
  background-color: var(--main-blue-color);
  color: var(--main-white-color);
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid var(--main-blue-color);
  font-size: 20px;
  font-weight: 600;
}

/* section2 */
.section2 {
  margin-top: 100px;
}
.section2__text__tittle {
  max-width: 800px;
  text-align: center;
  font-size: 2.5rem;
  margin: 30px auto;
  line-height: 3.5rem;
}

.section2__text__description {
  max-width: 400px;
  text-align: center;
  margin: 30px auto;
}

.section2__img {
  margin-top: 50px;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2__img img {
  width: 100%;
}

/* measuresection */
.measuresection {
  display: flex;
  justify-content: space-between;
  margin: 100px 25px;
}

.measuresection__text {
  width: 570px;
}

.measuresection__text__heading::before {
  content: "";
  width: 180px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid var(--main-lightblue-color);
  background-color: var(--main-lightblue-color);
}

.measuresection__text__heading span {
  color: var(--main-lightblue-color);
  font-weight: bold;
  margin-left: 15px;
}

.measuresection__text__tittle {
  font-size: 2rem;
  margin: 20px 10px 10px 0px;
  max-width: 400px;
}

.measuresection__text__description {
  max-width: 400px;
}

.measuresection__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.measuresection__image img {
  width: 100%;
}

/* steps section */
.stepssection {
  margin-top: 100px;
}

.stepssection__title {
  text-align: center;
  font-size: 36px;
  color: var(--main-black-color);
}

.step {
  margin-top: 40px;
}

.step1 {
  display: grid;
  grid-template-columns: [firstcol]1fr [secondcol]1fr;
  /* grid-template-rows: [firstrow]auto [secondrow]auto [thirdrow]auto [fourthrow]auto; */
  grid-template-rows: auto auto auto 1fr;
  gap: 0.2em;
  padding: 2em 5em;
}

.step1__number {
  grid-column: secondcol;
  grid-row: 1/2;
  height: 80px;
}

.step1__title {
  grid-column: secondcol;
  grid-row: 2/3;
  font-size: 28px;
  color: var(--main-black-color);
}

.step1__description {
  grid-column: secondcol;
  grid-row: 3/4;
  color: var(--main-lightgrey-color);
  font-weight: 500;
  margin-bottom: 20px;
}

.step1__image {
  grid-column: firstcol;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step1__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  max-width: 400px;
}

.step1__buttons .button {
  padding: 0.8em 1.5em;
  font-size: 16px;
  font-weight: 600;
  color: var(--main-white-color);
}

.step1__buttons .button i {
  font-size: 18px;
}

.button--whatsapp {
  grid-column: 1;
  grid-row: 1;
  background-color: var(--secondary-green-color);
  border: 1px solid var(--secondary-green-color);
  border-radius: 6px;
}

.button--email {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--secondary-orange-color);
  border: 1px solid var(--secondary-orange-color);
  border-radius: 6px;
}

.button--download {
  grid-column: 1/-1;
  grid-row: 2;
  background-color: var(--main-blue-color);
  border: 1px solid var(--main-blue-color);
  border-radius: 6px;
}

.step2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 0.2em;
  padding: 2em 5em;
}

.step2__number {
  grid-column: 1;
  grid-row: 1;
  height: 80px;
}

.step2__title {
  grid-column: 1;
  grid-row: 2;
  font-size: 28px;
  color: var(--main-black-color);
}

.step2__description {
  grid-column: 1;
  grid-row: 3;
  color: var(--main-lightgrey-color);
  font-weight: 500;
  margin-bottom: 20px;
}

.step2__image {
  grid-column: 2;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step2__image img {
  width: 80%;
}

.step3 {
  display: grid;
  grid-template-columns: [firstcol]1fr [secondcol]1fr;
  /* grid-template-rows: [firstrow]auto [secondrow]auto [thirdrow]auto [fourthrow]auto; */
  grid-template-rows: auto auto auto 1fr;
  gap: 0.2em;
  padding: 2em 5em;
}

.step3__number {
  grid-column: secondcol;
  grid-row: 1/2;
  height: 80px;
}

.step3__title {
  grid-column: secondcol;
  grid-row: 2/3;
  font-size: 28px;
  color: var(--main-black-color);
}

.step3__description {
  grid-column: secondcol;
  grid-row: 3/4;
  color: var(--main-lightgrey-color);
  font-weight: 500;
}

.step3__image {
  grid-column: firstcol;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step3__image img {
  width: 90%;
}

.step3__list {
  display: flex;
  flex-direction: column;
}

.step3__list a {
  font-size: 20px;
  color: var(--main-blue-color);
}

.step3__list .fa-whatsapp-square {
  color: var(--secondary-green-color);
}
.step3__list .fa-envelope {
  color: var(--secondary-orange-color);
}

/* feature section */

.parentfeature {
  background-color: var(--feature-background-color);
  padding: 10px;
}

.featuresection {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 10px;
}

.featuresection__top,
.featuresection__bottom {
  display: flex;
  gap: 10px;
}

.featuresection > div {
  flex: 1;
}

.featuresection__top > div,
.featuresection__bottom > div {
  flex: 1;
}

.featuresection img,
h4 {
  margin-bottom: 15px;
}

/* media queries */
@media (max-width: 900px) {
  /* navbar media queries */
  .menu-toggle {
    display: flex;
  }

  .site-nav {
    display: none;
    clip-path: circle(0px at top right);
  }

  .nav-container--open {
    position: relative;
    height: 100vh;
  }

  .nav-container--open .logo {
    position: absolute;
    top: 1em;
    left: 0em;
    z-index: 1000;
  }

  .nav-container--open .menu-toggle {
    position: absolute;
    top: 1em;
    right: 0em;
  }

  .nav-container--open .site-nav {
    display: block;
    clip-path: circle(250% at top right);
  }

  .nav-container--open .site-nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
  }

  /* hero media queries */
  .parent {
    height: auto;
  }

  .hero {
    height: auto;
    grid-template-rows: [margin]4em [first-row]1fr [second-row]1fr;
  }

  .hero-text {
    grid-column: 1/9;
  }

  .hero-img {
    grid-column: 8/-1;
    grid-row: second-row;
  }

  .hero-img img {
    width: 100%;
  }

  /* section2 media queries */
  .section2__img img {
    width: 95%;
  }

  /* step section */

  .step1 {
    display: grid;
    grid-template-columns: auto repeat(11, minmax(0, 1fr));
    grid-template-rows: auto auto 1fr;
    gap: 0.2em;
    padding: 2em 3em;
  }

  .step1__number {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .step1__title {
    grid-column: 2/-1;
    grid-row: 1/2;
    align-self: end;
  }

  .step1__description {
    grid-column: 1/-1;
    grid-row: 2/3;
    margin: 20px 0px 30px 0px;
  }

  .step1__buttons {
    grid-column: 1/7;
    grid-row: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .step1__image {
    grid-column: 7/-1;
    grid-row: 3;
  }

  .step1__image img {
    width: 80%;
  }

  .step2 {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    gap: 0.2em;
    padding: 2em 3em;
  }

  .step2__number {
    grid-column: 1;
    grid-row: 1;
  }

  .step2__title {
    grid-column: 2;
    grid-row: 1;
    font-size: 32px;
    color: var(--main-black-color);
    align-self: end;
  }

  .step2__description {
    grid-column: 1/-1;
    grid-row: 2;
    color: var(--main-lightgrey-color);
    font-weight: 500;
    margin: 20px 0px 30px 0px;
  }

  .step2__image {
    grid-column: 1/-1;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .step2__image img {
    width: 80%;
  }

  .step3 {
    display: grid;
    grid-template-columns: auto repeat(11, minmax(0, 1fr));
    grid-template-rows: auto auto 1fr;
    gap: 0.2em;
    padding: 2em 3em;
  }

  .step3__number {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .step3__title {
    grid-column: 2/-1;
    grid-row: 1/2;
    align-self: end;
  }

  .step3__description {
    grid-column: 1/-1;
    grid-row: 2/3;
    margin: 20px 0px 30px 0px;
  }

  .step3__list {
    grid-column: 1/7;
    grid-row: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .step3__image {
    grid-column: 7/-1;
    grid-row: 3;
  }

  .step3__image img {
    width: 80%;
  }

  /* feature section media queries */

  .featuresection {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
}

@media (max-width: 700px) {
  /* measuresection media queries */

  .measuresection__text {
    width: 95%;
  }

  .measuresection__text__heading::before {
    width: 100px;
    height: 0.25px;
  }

  .measuresection__text__heading span {
    font-size: 10px;
    margin-left: 10px;
  }

  .measuresection__text__tittle {
    font-size: 1.25rem;
    margin-top: 10px;
  }

  .measuresection__text__description {
    font-size: small;
  }

  .step1__number,
  .step2__number,
  .step3__number {
    height: 60px;
    align-self: end;
    margin-bottom: 5px;
  }
}

@media (max-width: 500px) {
  /* hero media queries */

  .hero {
    grid-template-rows: [margin]4em [first-row]1.5fr [second-row]0.5fr;
    row-gap: 2em;
  }

  .hero-text {
    margin-top: 2em;
    grid-column: 1/-1;
  }

  .hero-img {
    grid-column: 3/-3;
    grid-row: second-row;
  }

  .hero-img img {
    width: 100%;
  }

  /* section2 media queries */
  .section2__text__tittle h2 {
    font-size: 20px;
  }

  /* measuresection media queries */
  .measuresection {
    display: flex;
    flex-direction: column;
  }

  .measuresection__text__tittle {
    font-size: 1.5rem;
  }

  .measuresection__text__description {
    font-size: small;
    margin: 10px 0px 30px 0px;
  }

  /* step section */
  .stepssection__title {
    font-size: 30px;
  }

  .step1 {
    display: grid;
    grid-template-columns: auto repeat(11, minmax(0, 1fr));
    grid-template-rows: auto auto auto auto;
    gap: 0.2em;
    padding: 2em 1em;
  }

  .step1__buttons {
    grid-column: 1/-1;
    grid-row: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .step1__image {
    grid-column: 1/-1;
    grid-row: 4;
  }

  .step2 {
    padding: 2em 1em;
  }

  .step3 {
    display: grid;
    grid-template-columns: auto repeat(11, minmax(0, 1fr));
    grid-template-rows: auto auto auto auto;
    gap: 0.2em;
    padding: 2em 1em;
  }

  .step3__list {
    grid-column: 1/-1;
    grid-row: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .step3__image {
    grid-column: 1/-1;
    grid-row: 4;
  }

  /* feature section media queries */

  .featuresection,
  .featuresection__top,
  .featuresection__bottom {
    flex-direction: column;
    gap: 80px;
  }

  .featuresection__top > *,
  .featuresection__bottom > * {
    width: 80%;
    margin: auto;
  }
}
